{% extends "main::container.html" %}

{% block article %}
<article>
    <header>
        <h1 class="text-center">
        {% if collections.current %}
        {{collections.current.label}}
        {% else %}
        Text Collections
        {% endif %}
        </h1>
	<p class="text-warning">Am besten hier (bei der Auflistung der einzelnen Texte) in der »card« auch jeweils PTA- und CPG-Nummer und Incipit</p>
    </header>
    <div class="row">
      {% for coll in collections.members %}
      {% if coll.model == 'http://w3id.org/dts-ontology/resource' %}
      <div class="col-sm-3">
	<div class="card">
	  <img class="card-img-top" src="{{url_for('InstanceNemo.static', filename='images/text.png')}}" alt="Card image cap">
	  <div class="card-body">
            <h5 class="card-title">[{{coll.lang}}] {{ coll.label }}</h5>
            <a class="btn btn-primary" href="{{url_for('.r_full_text', objectId=coll.id)}}">Full Text</a> 
            <a class="btn btn-primary" href="{{url_for('.r_first_passage', objectId=coll.id)}}">Read</a> 
	  </div>
	</div>
      </div>
      {% else %}
      <div class="col-sm-3">
	<div class="card">
	  <img class="card-img-top" src="{{url_for('InstanceNemo.static', filename='images/text.png')}}" alt="Card image cap">
	  <div class="card-body">
            <h5 class="card-title">{{ coll.label }}</h5>
            <a class="btn btn-primary" href="{{url_for('.r_collection_semantic', objectId=coll.id, semantic=coll.semantic)}}">Browse ({{coll.size}})</a>
	  </div>
	</div>
      </div>
      {% endif %}
      {% endfor %}
</article>
{% endblock %}
