{% extends "main::container.html" %}

{%block article%}
<div class="container">
    <header>
        <h1 class="text-center">{{ ('Contact') }}</h1>
    </header>
    <section id="contact-text">	
      <p>Berlin-Brandenburgische Akademie der Wissenschaften</p>
      
      <p>Die alexandrinische und antiochenische Bibelexegese in der Spätantike<br />
	Jägerstraße 22 / 23<br />
	D-10117 Berlin<br />
	Tel: +49 (0)30 20370 329</p>
      
      <h2 id="impressum-und-datenschutz">Impressum und Datenschutz</h2>
      
      <ul>
	<li><a href="https://bibelexegese.bbaw.de/footer/impressum/">Impressum</a></li>
	<li><a href="https://bibelexegese.bbaw.de/footer/datenschutz/">Datenschutz</a></li>
      </ul>
    </section>
</div>
{%endblock%}
