<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 metatags *must* come first in the head; any other head content must come *after* these tags. -->
    <meta name="description" content="Late Antique Christian Texts">
    <meta name="keywords" content="XML,TEI,Patristics">
    <meta name="author" content="Annette von Stockhausen">
    <title>Patristic Text Archive</title>
    {% block metadata %}
      {% include "main::metadata.html" %}
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% for filename, directory in assets["css"].items() %}
      {% if directory %}<link rel="stylesheet" href="{{url_for('.secondary_assets', filetype='css', asset=filename)}}">
      {% else %}<link rel="stylesheet" href="{{ filename }}">
      {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alpheios-components@latest/dist/style/style-components.min.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include "main::header.html" %}
    <div class="container-fluid" id="main-container">
      <div class="row pb-0">
      {% include "main::breadcrumb.html" %}
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="row pb-0">
        <ul class="list-unstyled mb-0">
            {% for message in messages %}
            <div class="alert alert-info alert-dismissable fade show mb-0" role="alert">{{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding-left: 5em;">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endwith %}
      <div class="row" id="sub-container">
	{% block article %}
	{% endblock %}
      </div>
    </div>
    
{% block footer %}
{% include "main::footer.html" %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
      import ("https://cdn.jsdelivr.net/npm/alpheios-embedded@latest/dist/alpheios-embedded.min.js").then(embedLib => {
        window.AlpheiosEmbed.importDependencies({
          mode: 'cdn'
        }).then(Embedded => {
            new Embedded({
		clientId: 'PTAtest',
		textLangCode: 'grc',
		layoutType: 'readingTools',
		toolbarInitialPos: { top: '200px', right: '15px'},
		simpleMode: true
	    }).activate();
        }).catch(e => {
          console.error(`Import of Alpheios embedded library dependencies failed: ${e}`)
        })

      }).catch(e => {
        console.error(`Import of Alpheios Embedded library failed: ${e}`)
      })
    });
</script>
    {% for filename, directory in assets["js"].items() %}
      {% if directory %}<script src="{{url_for('.secondary_assets', filetype='js', asset=filename)}}"></script>
      {% else %}<script src="{{ filename }}"></script>
      {% endif %}
    {% endfor %}

  {% block additionalscript %}
  {% endblock %}
  </body>
</html>

