{% extends "main::container.html" %}

{%block article%}
<div class="container">
    <header>
        <h1 class="text-center">{{ ('Contributing') }}</h1>
    </header>
    <section id="contributing-text">
      <p>Contributions to the “Patristic Text Archive” are very welcome:</p>
      
      <ul>
	<li>If you like to contribute additional editions or translations in modern languages, please contact <a href="mailto:annette.von_stockhausen@bbaw.de">me</a>. All contributions must have an <a href="https://creativecommons.org/">open licence</a> and have to be encoded according to the <a href="/encoding">encoding regulations</a>.</li>
	<li>As the PTA is work in progress, please file issues with the texts or translations <a href="https://github.com/PatristicTextArchive/pta_data/issues">here</a>.</li>
      </ul>

    </section>
</div>
{%endblock%}
