{% extends "main::container.html" %}

{%block article%}
<div class="container">
    <header>
        <h1 class="text-center">{{ ('Encoding guidelines') }}</h1>
    </header>
<section id="encoding-text">
  <p>All files are encoded according to the <i class="fas fas-external-link-alt"> </i><a href="https://github.com/PatristicTextArchive/Schema">PTA-Schema</a>.</p>
  
  <p><i class="fas fas-exclamation"> </i>More information still to be written&hellip; Preliminary encoding guidelines (in German only at the moment) in <code>tei-pta.odd</code> in <a href="https://github.com/PatristicTextArchive/Schema">PTA-Schema</a>.</p>

    </section>
</div>
{%endblock%}
