<footer>
<div class="row bg-white py-1 mr-0">
  <div class="col-md-8 text-center mt25">&copy; 2020 <a target="_blank" href="https://bibelexegese.bbaw.de">Akademienvorhaben Die alexandrinische und antiochenische Bibelexegese in der Spätantike</a></div>
  
  
  <div class="col-md-2 text-center mt25">
    <a target="_blank" href="https://www.twitter.com/bibelexegese"><li class="social"><i class="fab fab-twitter"></i></li></a>
    <a target="_blank" href="https://github.com/PatristicTextArchive"><li class="social"><i class="fab fab-github"></i></li></a>
    <a href="mailto:annette.von_stockhausen@bbaw.de"><li class="social"><i class="fas fas-envelope"></i></li></a>
  </div>
  
  <div class="col-md-2 text-center">
    <a href="https://www.bbaw.de"><img id="bbaw-logo-header" src="{{url_for('InstanceNemo.static', filename='images/BBAWlogo.png')}}" alt="Logo: Berlin-Brandenburgische Akademie der Wissenschaften" class="float-right img-fluid"></a>
  </div>
</div>
</footer>    
