<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 metatags *must* come first in the head; any other head content must come *after* these tags. -->
    <meta name="description" content="Late Antique Christian Texts">
    <meta name="keywords" content="XML,TEI,Patristics">
    <meta name="author" content="Annette von Stockhausen">
    <title>Patristic Text Archive</title>
    {% block metadata %}
      {% include "main::metadata.html" %}
    {% endblock %}
    {% for filename, directory in assets["css"].items() %}
      {% if directory %}<link rel="stylesheet" href="{{url_for('.secondary_assets', filetype='css', asset=filename)}}">
      {% else %}<link rel="stylesheet" href="{{ filename }}">
      {% endif %}
    {% endfor %}
  </head>
  <body>

<div class="jumbotron bg-cover" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url({{url_for('InstanceNemo.static', filename='images/titelbild-bibelexegese.jpg')}})">
  <div class="ribbon"><span>Preview</span></div>
  <div class="container">
    <a href="https://www.bbaw.de"><img id="bbaw-logo-header" src="{{url_for('InstanceNemo.static', filename='images/bbaw_logo_white.svg')}}" alt="Logo: Berlin-Brandenburgische Akademie der Wissenschaften"></a>
   <h1>Patristic Text Archive</h1>
  <p class="lead">An open access archive of Late Antique Christian texts.</p>
  <a class="btn btn-primary btn-lg active" href="{{ url_for('InstanceNemo.r_about') }}" role="button">About the PTA</a>
  <a class="btn btn-primary btn-lg active" href="{{ url_for('InstanceNemo.r_collections') }}" role="button">Browse Archive</a>

  
  <p style="position: fixed; right: 20px; bottom: 20px;"> <a href="https://gallica.bnf.fr/ark:/12148/btv1b84522082/f169.image">Photo: Parisinus gr. 510, f. 78r (Ausschnitt)</a></p>
  </div>

</div>
    {% for filename, directory in assets["js"].items() %}
    {% if directory %}<script src="{{url_for('.secondary_assets', filetype='js', asset=filename)}}"></script>
    {% else %}<script src="{{ filename }}"></script>
    {% endif %}
    {% endfor %}

  </body>
</html>

