{% extends "main::container.html" %}

{%block article%}
<div class="container">
    <header>
        <h1 class="text-center">Indices</h3>
    </header>
    <section id="indices">
      <p class="text-warning">Alle Bibelstellen (auch eingrenzbar auf Auswahl von Texten)</p>
      <p class="text-warning">Alle Personen (auch eingrenzbar auf Auswahl von Texten)</p>
      <p class="text-warning">Vielleicht auch: Alle Worte/Lemmata (auch eingrenzbar auf Auswahl von Texten bzw. einzelne Texte)</p>
    </section>
</div>
{%endblock%}
