{% extends "main::text_container.html" %}

{% macro header_passage() %}
<header>
    <h2 class="author vcard text-center"><span class="fn">{{collections.current.author}}</span></h2>
    <h1 class="entry-title text-center">{{collections.current.title}}</h1>
</header>
{% endmacro %}

{% macro nav() %}
    {% if prev %}
    <a class="btn btn-xs btn-link" href="{{url_for('InstanceNemo.r_passage', objectId=objectId, subreference=prev) }}">&lt; previous</a>
    {% endif %}
    {% if next %}
    <a class="btn btn-xs btn-link" href="{{url_for('InstanceNemo.r_passage', objectId=objectId, subreference=next) }}">next &gt;</a>
    {% endif %}
{% endmacro %}


{% macro show_passage(text, header, navigation) %}


    <div class="">
        <article class="hentry entry white col-sm">
            <nav>
                {{ navigation }}
            </nav>
            <div class="row">
                <section class="col-sm">
                    {{ header }}
                        {{ text_passage }}
                </section>
            </div>
        </article>
    </div>
{% endmacro %}

{% block texts %}

{{ show_passage(text_passage, navigation=nav(), header=header_passage()) }}

{% endblock %}

{% block footer %}
    {% include "main::footer.html" %}
{% endblock %}

