{% extends "main::container.html" %}
{% import "main::macros.html" as macros %}

{% block article %}

<link rel="stylesheet"  href="{{url_for('InstanceNemo.static', filename='css/text_container.css')}}">

{% if objects %}
    {% set prev_texts = objects|join('+', attribute='objectId') %}
    {% set prev_reffs = objects|join('+', attribute='subreference') %}
{% else %}
    {% set prev_texts = objectId %}
    {% set prev_reffs = subreference %}
{% endif %}
<!-- THE LEFT COLUMN -->
<div id="sidebar_l" class="col-sm-3 d-none d-lg-block reading-sidebar">
  <div class="d-flex flex-column" id="left-sticky-col">  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">TOC<a class="btn btn-link" data-toggle="collapse" href="#collapseToc" role="button" aria-expanded="false" aria-controls="collapseToc">:::</a></h5>
	<div class="collapse" id="collapseToc">
      {% if cache_active %}
      {% cache cache_time, cache_key %}{{ macros.hierarchical_dispatcher(objectId, reffs, citation) }} {% endcache %}
      {% else %}
      {{ macros.hierarchical_dispatcher(objectId, reffs, citation) }}
      {% endif %}
      </div>
      </div>
    </div>
    {% if collections.current.witnesses %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manuscript witnesses</h5>
	<ul>
	  {% for witness in collections.current.witnesses %}
	  <li>{{witness[0]}}: {{witness[1]}} ({{witness[2]}}), {{witness[3]}}</li>
	  {% endfor %}
	</ul>
      </div>
    </div>
    {% endif %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bibliographic data</h5>
	<p>{{collections.current.description}}</p>
	<span class='Z3988' title='{{collections.current.coins}}'></span>
      </div>
    </div>
    {% if collections.current.kind %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Type of edition</h5>
	<img id="kind-of-edition" src="/assets/nemo/images/{{ collections.current.kind }}.svg" alt="Type of edition">
      </div>
    </div>
    {% endif %}      
    {% if collections.current.features %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Features</h5>
	{% for feature in collections.current.features %}
	<img id="encoded-features" src="/assets/nemo/images/{{ feature }}.svg" alt="Encoded features">
	{% endfor %}
      </div>
    </div>
    {% endif %}
    {% if collections.current.idnos %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">IDs</h5>
	<ul>
	  <li>PTA: {{collections.current.idnos[0]}}</li>
	  <li><span class="comment"><a href="https://clavis.brepols.net/clacla/OA/Search.aspx" target="_blank">CPG</a><span class="commenttext">You need to search for this ID in the ClaCla database; unfortunately no direct link possible.</span></span>: {{collections.current.idnos[1]}}</li>
	  <li><span class="comment"><a href="https://clavis.brepols.net/clacla/OA/Search.aspx" target="_blank">BHG</a><span class="commenttext">You need to search for this ID in the ClaCla database; unfortunately no direct link possible.</span></span>: {{collections.current.idnos[2]}}</li>
	  <li>Pinakes-Oeuvre: <a href="https://pinakes.irht.cnrs.fr/notices/oeuvre/{{collections.current.pinakes}}" target="_blank">{{collections.current.idnos[3]}}</a></li>
	</ul>
      </div>
    </div>
    {% endif %}
    {% if collections.current.licence %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Licence</h5>
	<a href="{{collections.current.licence[1]}}" target="_blank"><img id="licence" src="/assets/nemo/images/{{ collections.current.licence[2] }}.png" alt="{{collections.current.licence[0]}}"></a>
      </div>
    </div>
    {% endif %}
    {% if collections.current.download %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Download</h5>
	<a href="https://raw.githubusercontent.com/PatristicTextArchive/pta_data/master/data/{{ collections.current.download[0] }}/{{ collections.current.download[1] }}.xml" target="_blank">XML-Source</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="col-sm-8 hfeed right-columns" id="reading-container">
{% block texts %}
{% endblock %}
</div>


{% endblock %}

{% block metadata %}
{% endblock %}
