.edition, .entry-title, .author {
	font-family: "Noto Serif", serif;
}

.jumbotron {
    background-size: cover;
    height: 100%;
}

.jumbotron h1,
.jumbotron .h1 {
    font-size: 600%;
    font-weight: 600;
    color: white;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron .container {
  max-width: 100%;
}

.navbar {
    background-color: #fff;
}

.navbar .navbar-logo {
    height: 200px; 
    transition: 0.5s ease;
}

a {
  color: #2a52be;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a52be;
  text-decoration: underline;
}


ul.menu li a {
    text-transform: none;
    font-style: italic;
    font-variant: normal;
}

.quote {
    text-transform: none;
    font-style: italic;
    font-variant: normal;
}

.person {
    text-transform: none;
    font-weight: bold;
}

.place {
    text-transform: none;
    font-style: normal;
}

.insertion {
    text-transform: none;
    font-style: normal;
    font-variant: normal;
}

.number {
    text-transform: none;
    font-weight: bold;
}

.pb {
    white-space: nowrap;
    vertical-align: super; 
    font-size: 80%;
    color:grey;
}

.pb:before{content:"|";}

.note {
    position: relative;
    display: inline-block;
   color: #345115;
    border-bottom: 1px dotted black; 
}

.note .notetext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px dotted black;	
    position: absolute;
    z-index: 1;
}

.note:hover .notetext {
    visibility: visible;
}

