@charset "UTF-8";
/* noto-serif-regular - greek-ext_latin */
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-serif-v6-greek-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif"), local("NotoSerif"), url("../fonts/noto-serif-v6-greek-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-serif-v6-greek-ext_latin-regular.woff2") format("woff2"), url("../fonts/noto-serif-v6-greek-ext_latin-regular.woff") format("woff"), url("../fonts/noto-serif-v6-greek-ext_latin-regular.ttf") format("truetype"), url("../fonts/noto-serif-v6-greek-ext_latin-regular.svg#NotoSerif") format("svg");
  /* Legacy iOS */
}
/* noto-serif-italic - greek-ext_latin */
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/noto-serif-v6-greek-ext_latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif Italic"), local("NotoSerif-Italic"), url("../fonts/noto-serif-v6-greek-ext_latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-serif-v6-greek-ext_latin-italic.woff2") format("woff2"), url("../fonts/noto-serif-v6-greek-ext_latin-italic.woff") format("woff"), url("../fonts/noto-serif-v6-greek-ext_latin-italic.ttf") format("truetype"), url("../fonts/noto-serif-v6-greek-ext_latin-italic.svg#NotoSerif") format("svg");
  /* Legacy iOS */
}
/* noto-serif-700 - greek-ext_latin */
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-serif-v6-greek-ext_latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url("../fonts/noto-serif-v6-greek-ext_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-serif-v6-greek-ext_latin-700.woff2") format("woff2"), url("../fonts/noto-serif-v6-greek-ext_latin-700.woff") format("woff"), url("../fonts/noto-serif-v6-greek-ext_latin-700.ttf") format("truetype"), url("../fonts/noto-serif-v6-greek-ext_latin-700.svg#NotoSerif") format("svg");
  /* Legacy iOS */
}
/* noto-serif-700italic - greek-ext_latin */
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/noto-serif-v6-greek-ext_latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif Bold Italic"), local("NotoSerif-BoldItalic"), url("../fonts/noto-serif-v6-greek-ext_latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-serif-v6-greek-ext_latin-700italic.woff2") format("woff2"), url("../fonts/noto-serif-v6-greek-ext_latin-700italic.woff") format("woff"), url("../fonts/noto-serif-v6-greek-ext_latin-700italic.ttf") format("truetype"), url("../fonts/noto-serif-v6-greek-ext_latin-700italic.svg#NotoSerif") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../fonts/fa-solid-900.eot");
  src: local("Font Awesome 5 Free Solid"), url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg"); }

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/fa-brands-400.eot");
  src: local("Font Awesome 5 Brands Regular"), url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
    font-family: 'Font Awesome 5 Brands'; }

.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

.fas-download:before {
	content: '\f019';
}

.fas-exclamation:before {
    content: '\f12a';
    color: red;
}

.fas-external-link-alt:before {
	content: '\f35d';
}

.fas-envelope:before {
	content: '\f0e0';
}

.fab-github:before {
    content: '\f09b';
}

.fab-twitter:before {
    content: '\f099';
}


.social {
  list-style: none;
  display: inline;
  margin-left: 10px;
  padding: 5px 8px;
  font-size: 1.25em;
}

.social:hover {
  opacity: 0.5;
}

.social img {
  width: 20px;
}

.edition, .entry-title, .author {
	font-family: "Noto Serif", serif;
}

.jumbotron {
    background-size: cover;
    height: 100%;
}

.jumbotron h1,
.jumbotron .h1 {
    font-size: 600%;
    font-weight: 600;
    color: white;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron .container {
  max-width: 100%;
}

.navbar {
    background-color: #fff;
}

.navbar .navbar-logo {
    height: 200px; 
    transition: 0.5s ease;
}

ul.menu li a {
    text-transform: none;
    font-style: italic;
    font-variant: normal;
}

.person {
    text-transform: none;
    font-weight: bold;
}

.place {
    text-transform: none;
    font-style: normal;
}

.insertion {
    text-transform: none;
    font-style: normal;
    font-variant: normal;
}

.number {
    text-transform: none;
    font-weight: bold;
}

.pb {
    white-space: nowrap;
    vertical-align: super; 
    font-size: 80%;
    color:grey;
}

.pb:before{content:"|";}

.note {
    position: relative;
    display: inline;
}

.note .notetext {
    display: none;
}


.note:hover > .notetext{
    display: inline;
    margin: 0 10px 0 10px;
    color: grey;
}

.note:hover {
    border-bottom: 1px solid grey;
}

.note:after {
	font-family: 'Font Awesome 5 Free';
	content: '\f126';
	font-weight: 900;
	white-space: nowrap;
	vertical-align: super; 
	font-size: 80%;
	color: grey;
}

.allusion {
    position: relative;
    display: inline;
    font-style: italic; 
}

.allusion .ref {
    display: none;
}

.allusion:hover > .ref {
    display: inline;
    font-size: 90%;
    margin: 0 10px 0 10px;
    color: grey;
}

.allusion:hover {
    border-bottom: 1px solid grey;
}

.quote {
    position: relative;
    display: inline;
}

.quote:after,.allusion:after{
	font-family: 'Font Awesome 5 Free';
	content: '\f647';
	font-weight: 900;
	white-space: nowrap;
	vertical-align: super; 
	font-size: 70%;
	color: grey;
}

.quote .quoteref {
    display: none;
}

.quote:hover > .quoteref {
    display: inline;
    font-size: 90%;
    margin: 0 10px 0 10px;
    color: grey;
}

.quote:hover {
    border-bottom: 1px solid black;
}

.comment {
    position: relative;
    display: inline;
}

.comment:after{
	font-family: 'Font Awesome 5 Free';
	content: '*';
	font-weight: 900;
	white-space: nowrap;
	vertical-align: super; 
	font-size: 70%;
	color: grey;
}

.comment .commenttext {
    display: none;
}

.comment:hover > .commenttext {
    display: inline;
    font-size: 90%;
    margin: 0 10px 0 10px;
    color: grey;
}


.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 120px;
  height: 120px;
  text-align: right;
}

.ribbon span {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 175px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px black;
  position: absolute;
  top: 35px;
  left: -35px;
}

